<!doctype html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <title>Bootstrap demo</title>
</head>

<body>
    <div class="container-md" style="background-color: #f97;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptatum distinctio ipsa velit error. Dolore ullam maxime, repudiandae minima repellat odio eos perferendis fugit ex dicta hic a porro accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis in ipsum aliquam vero eius nemo cupiditate suscipit similique sunt blanditiis est asperiores fugit minima pariatur doloribus, cumque, voluptates nostrum. Ducimus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptatum distinctio ipsa velit error. Dolore
        ullam maxime, repudiandae minima repellat odio eos perferendis fugit ex dicta hic a porro accusamus! Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Omnis in ipsum aliquam vero eius nemo cupiditate suscipit similique sunt
        blanditiis est asperiores fugit minima pariatur doloribus, cumque, voluptates nostrum. Ducimus.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptatum distinctio ipsa velit error. Dolore
        ullam maxime, repudiandae minima repellat odio eos perferendis fugit ex dicta hic a porro accusamus! Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Omnis in ipsum aliquam vero eius nemo cupiditate suscipit similique sunt
        blanditiis est asperiores fugit minima pariatur doloribus, cumque, voluptates nostrum. Ducimus.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptatum distinctio ipsa velit error. Dolore
        ullam maxime, repudiandae minima repellat odio eos perferendis fugit ex dicta hic a porro accusamus! Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Omnis in ipsum aliquam vero eius nemo cupiditate suscipit similique sunt
        blanditiis est asperiores fugit minima pariatur doloribus, cumque, voluptates nostrum. Ducimus.
    </div>

</body>

</html>