{% extends 'base.html.jinja' %}


{% block title %}
{{super()}} - Home
{% endblock %}

{% block head %}
{{super()}}
<style type"text/css">
    body {
        background-color: #ff9b54;
    }
</style>
{% endblock %}