{% extends 'base.html.jinja' %}


{% block title %}
{{super()}} - Home
{% endblock %}

{% block head %}
{{super()}}
<style type"text/css">
    body {}
</style>
{% endblock %}


{% block main %}
<h1>This is a page.</h1>
{% endblock %}