{% extends 'base.html.jinja' %}


{% block title %}
{{super()}} - Home
{% endblock %}

{% block head %}
{{super()}}
<style type"text/css">
    body {}
</style>
{% endblock %}


{% block main %}
<main class="container text-center">

    <div class="row">
        <div class="col-4" style="background-color:#ff9b54">
            <form action="{{url_for('index')}}" method="get">
                <select class="form-select" aria-label="Default select example" name="area">
                    <option selected>Select an area:</option>
                    {% for area in areas %}
                    <option value="{{area}}">{{area}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary" style="background-color: #ce4257;">Let's gooo!</button>
            </form>
        </div>
        <div class="col-8" style="background-color:#ff7f51">
            {{show_area}}
        </div>
    </div>
</main>
{% endblock %}