{% extends 'base.html.jinja' %}


{% block title %}
{{super()}} - Home
{% endblock %}

{% block head %}
{{super()}}
<style type"text/css">
    body {}
</style>
{% endblock %}


{% block main %}
{% if username %}
    <h3 style="font-weight: 100;">Hello, {{username}}!</h3>
{% endif %}
<h1 style="font-weight: 100;">Welcome Home.</h1>
{% endblock %}